In [1]:
!pip install itertools
!pip install bcrypt

ERROR: Could not find a version that satisfies the requirement itertools (from versions: none)
ERROR: No matching distribution found for itertools

Requirement already satisfied: bcrypt in c:\users\nhk06\miniconda3\lib\site-packages (4.2.0)

In [1]:
import numpy as np
import pandas as pd
import json
import itertools
import random
from datetime import datetime

## Sinh dữ liệu và thêm vào bảng CHINHANH

In [2]:
tenduong = [ 
    "Đường Lê Duẩn",
    "Đường Hoàng Quốc Việt",
    "Đường Phạm Văn Đồng",
    "Đường Xuân Thủy",
    "Đường Tây Sơn",
    "Đường Nguyễn Chí Thanh",
    "Đường Láng Hạ",
    "Đường Thái Hà",
    "Đường Chùa Bộc",
    "Đường Tôn Đức Thắng",
    "Đường Nguyễn Lương Bằng",
    "Đường Trường Chinh",
    "Đường Đại Cồ Việt",
    "Đường Nguyễn Huệ",
    "Đường Lê Lợi",
    "Đường Đồng Khởi",
    "Đường Pasteur",
    "Đường Nam Kỳ Khởi Nghĩa",
    "Đường Hai Bà Trưng",
]
thanhpho = [
    {
    "city": 'Hồ Chí Minh',
    "area": 'Miền Nam'},
    {
    "city": 'Hà Nội',
    "area": 'Miền Bắc'},
    {
    "city": 'Hải Phòng',
    "area": 'Miền Bắc'},
    {
    "city": 'Cần Thơ',
    "area": 'Miền Nam'},
    {
    "city": 'Đà Nẵng',
    "area": 'Miền Trung'},
    {
    "city": 'Hải Dương',
    "area": 'Miền Bắc'},
    {
    "city": 'Đà Lạt',
    "area": 'Miền Trung'},
    {
    "city": 'Vũng Tàu',
    "area": 'Miền Nam'},
    {
    "city": 'Bà Rịa',
    "area": 'Miền Nam'},
]

In [3]:
_address = []

for i in range(15):
    city = random.choice(thanhpho)
    _address.append({
        "city": city['city'],
        "area": city['area'],
        "street": random.choice(tenduong),
        "number": random.randint(1, 600),
    })
    
len(_address)

15

Định dạng lại dữ liệu trong List ChiNhanh

In [4]:
ChiNhanh = []

i = 0

for item in _address:
    i+=1
    ChiNhanh.append({ "MaCN": i, 
                     "TenCN": "Chi nhánh " + item['street'] + ", " + item['city'],
                     "DiaChi": str(item['number']) + " " + item['street'] + ", " + item['city'], "ThanhPho": ['city'],
                     "KhuVuc": item['area'],
                     "tgMoCua": datetime.strptime("09:00", "%H:%M").time().strftime("%H:%M"), "tgDongCua": datetime.strptime("22:00", "%H:%M").time().strftime("%H:%M"), 
                     "SDT": "0123456789",
                     "coXeMay": random.choice([1, 0]),
                     "coXeHoi": random.choice([1, 0]),
                     "hasDelivery": random.choice([1, 0]),
    })

ChiNhanh = pd.DataFrame(ChiNhanh)
ChiNhanh.to_csv('ChiNhanh.csv', index=False)

Tạo SQL Script từ list giá trị

In [5]:
# Generate SQL command with multiple value sets

values = []
for index, row in ChiNhanh.iterrows():
    value = f"({row['MaCN']}, N'{row['TenCN']}', N'{row['DiaChi']}', N'{row['KhuVuc']}', '{row['tgMoCua']}', '{row['tgDongCua']}', N'{row['SDT']}', {row['coXeMay']}, {row['coXeHoi']}, {row['hasDelivery']})"
    values.append(value)

sql_command = f''' 
DELETE FROM ChiNhanh \nGO \n
SET IDENTITY_INSERT ChiNhanh ON \n
INSERT INTO ChiNhanh (MaCN, TenCN, DiaChi, KhuVuc, tgMoCua, tgDongCua, SDT, coXeMay, coXeHoi, hasDelivery) VALUES {','.join(values)};'''

with open('insert_ChiNhanh.sql', 'w') as f:
    f.write(sql_command)

## Tên ngẫu nhiên

In [6]:
vietnamese_names = [
    "Nguyễn Văn An", "Trần Thị Bích", "Lê Minh Châu", "Phạm Thị Dung", "Hoàng Văn Đức",
    "Phan Thị Hạnh", "Vũ Văn Hiếu", "Đặng Thị Hoa", "Bùi Văn Hùng", "Đỗ Thị Lan",
    "Nguyễn Thị Mai", "Trần Văn Nam", "Lê Thị Ngọc", "Phạm Văn Phúc", "Hoàng Thị Quỳnh",
    "Phan Văn Sơn", "Vũ Thị Thanh", "Đặng Văn Thắng", "Bùi Thị Thu", "Đỗ Văn Tiến",
    "Nguyễn Thị Trang", "Trần Văn Tuấn", "Lê Thị Vân", "Phạm Văn Vinh", "Hoàng Thị Yến",
    "Phan Văn Bình", "Vũ Thị Cúc", "Đặng Văn Dũng", "Bùi Thị Hương", "Đỗ Văn Khánh",
    "Nguyễn Văn Bình", "Trần Thị Cẩm", "Lê Minh Đạt", "Phạm Thị Hồng", "Hoàng Văn Hùng",
    "Phan Thị Kim", "Vũ Văn Lâm", "Đặng Thị Liên", "Bùi Văn Long", "Đỗ Thị Minh",
    "Nguyễn Thị Ngọc", "Trần Văn Phong", "Lê Thị Phương", "Phạm Văn Quang", "Hoàng Thị Thanh",
    "Phan Văn Thắng", "Vũ Thị Thảo", "Đặng Văn Toàn", "Bùi Thị Tuyết", "Đỗ Văn Việt",
    "Nguyễn Văn Hải", "Trần Thị Hương", "Lê Minh Hoàng", "Phạm Thị Lan", "Hoàng Văn Lâm",
    "Phan Thị Lệ", "Vũ Văn Long", "Đặng Thị Mai", "Bùi Văn Minh", "Đỗ Thị Nga",
    "Nguyễn Thị Ngân", "Trần Văn Phúc", "Lê Thị Quỳnh", "Phạm Văn Sơn", "Hoàng Thị Thanh",
    "Phan Văn Thịnh", "Vũ Thị Thu", "Đặng Văn Toàn", "Bùi Thị Tuyết", "Đỗ Văn Việt",
    "Nguyễn Văn An", "Trần Thị Bích", "Lê Minh Châu", "Phạm Thị Dung", "Hoàng Văn Đức",
    "Phan Thị Hạnh", "Vũ Văn Hiếu", "Đặng Thị Hoa", "Bùi Văn Hùng", "Đỗ Thị Lan",
    "Nguyễn Thị Mai", "Trần Văn Nam", "Lê Thị Ngọc", "Phạm Văn Phúc", "Hoàng Thị Quỳnh",
    "Phan Văn Sơn", "Vũ Thị Thanh", "Đặng Văn Thắng", "Bùi Thị Thu", "Đỗ Văn Tiến",
    "Nguyễn Thị Trang", "Trần Văn Tuấn", "Lê Thị Vân", "Phạm Văn Vinh", "Hoàng Thị Yến",
    "Phan Văn Bình", "Vũ Thị Cúc", "Đặng Văn Dũng", "Bùi Thị Hương", "Đỗ Văn Khánh"
]

english_names = [
    "James Smith", "Mary Johnson", "John Williams", "Patricia Brown", "Robert Jones",
    "Jennifer Garcia", "Michael Miller", "Linda Davis", "William Rodriguez", "Elizabeth Martinez",
    "David Hernandez", "Barbara Lopez", "Richard Gonzalez", "Susan Wilson", "Joseph Anderson",
    "Jessica Thomas", "Charles Taylor", "Sarah Moore", "Christopher Jackson", "Karen Martin",
    "Daniel Lee", "Nancy Perez", "Matthew Thompson", "Betty White", "Anthony Harris",
    "Lisa Sanchez", "Mark Clark", "Sandra Ramirez", "Paul Lewis", "Donna Robinson",
    "Steven Walker", "Carol Young", "Andrew Allen", "Michelle King", "Joshua Wright",
    "Dorothy Scott", "Kevin Green", "Emily Adams", "Brian Baker", "Helen Nelson",
    "George Carter", "Deborah Mitchell", "Edward Perez", "Sharon Roberts", "Ronald Turner",
    "Laura Phillips", "Timothy Campbell", "Cynthia Parker", "Jason Evans", "Kathleen Edwards",
    "Jeffrey Collins", "Amy Stewart", "Ryan Morris", "Shirley Rogers", "Jacob Reed",
    "Angela Cook", "Gary Morgan", "Brenda Bell", "Nicholas Murphy", "Pamela Bailey",
    "Eric Rivera", "Martha Cooper", "Jonathan Richardson", "Frances Cox", "Stephen Howard",
    "Ann Ward", "Larry Torres", "Ruth Peterson", "Justin Gray", "Diane Ramirez",
    "Scott James", "Alice Brooks", "Brandon Kelly", "Julie Sanders", "Benjamin Price",
    "Heather Bennett", "Samuel Wood", "Teresa Barnes", "Gregory Ross", "Doris Henderson",
    "Frank Coleman", "Gloria Jenkins", "Alexander Perry", "Katherine Powell", "Raymond Long",
    "Joan Patterson", "Patrick Hughes", "Ashley Flores", "Jack Washington", "Judith Butler",
    "Dennis Simmons", "Megan Foster", "Jerry Gonzales", "Andrea Bryant", "Tyler Alexander",
    "Virginia Russell", "Aaron Griffin", "Rachel Diaz", "Henry Hayes", "Marilyn Myers"
]

In [7]:
names = pd.DataFrame(vietnamese_names*500 + english_names*500, columns=['HoTen'])

names.sort_values('HoTen', inplace=True)

len(names)

100000

In [8]:
email_domains = [
    "example.com", "gmail.com", "yahoo.com", "hotmail.com", "aol.com",
    "outlook.com", "icloud.com", "mail.com", "zoho.com", "protonmail.com",
    "yandex.com", "gmx.com", "fastmail.com", "hushmail.com", "inbox.com",
    "mail.ru", "live.com", "msn.com", "comcast.net", "verizon.net",
    "att.net", "sbcglobal.net", "bellsouth.net", "charter.net", "cox.net",
    "earthlink.net", "juno.com", "netzero.net", "aim.com", "rocketmail.com",
    "me.com", "mac.com", "optonline.net", "frontier.com", "windstream.net",
    "centurylink.net", "embarqmail.com", "q.com", "roadrunner.com", "twc.com",
    "rr.com", "wowway.com", "cfl.rr.com", "hawaii.rr.com", "houston.rr.com",
    "nyc.rr.com", "san.rr.com", "satx.rr.com", "sc.rr.com", "stny.rr.com",
    "tampabay.rr.com", "wi.rr.com", "xtra.co.nz", "bigpond.com", "bigpond.net.au",
    "optusnet.com.au", "internode.on.net", "iinet.net.au", "tpg.com.au", "dodo.com.au",
    "primus.com.au", "westnet.com.au", "aapt.net.au", "exemail.com.au", "ozemail.com.au",
    "adam.com.au", "chariot.net.au", "netspace.net.au", "aanet.com.au", "clubtelco.com",
    "spin.net.au", "tadaust.org.au", "unwired.com.au", "virginbroadband.com.au", "vodafone.com.au",
    "vividwireless.com.au", "y7mail.com", "yahoo.com.au", "yahoo.co.nz", "yahoo.co.uk",
    "yahoo.ca", "yahoo.fr", "yahoo.de", "yahoo.it", "yahoo.es",
    "yahoo.co.jp", "yahoo.com.sg", "yahoo.com.hk", "yahoo.com.ph", "yahoo.com.my",
    "yahoo.com.br", "yahoo.com.mx", "yahoo.com.ar", "yahoo.com.ve", "yahoo.com.co",
    "yahoo.com.pe", "yahoo.com.cl", "yahoo.com.uy", "yahoo.com.ec", "yahoo.com.bo",
    "example.net", "example.org", "example.edu", "example.gov", "example.mil",
    "example.biz", "example.info", "example.jobs", "example.mobi", "example.name",
    "example.pro", "example.tel", "example.travel", "example.asia", "example.cat",
    "example.coop", "example.int", "example.museum", "example.aero", "example.post",
    "example.xxx", "example.ac", "example.ad", "example.ae", "example.af",
    "example.ag", "example.ai", "example.al", "example.am", "example.an",
    "example.ao", "example.aq", "example.ar", "example.as", "example.at",
    "example.au", "example.aw", "example.ax", "example.az", "example.ba",
    "example.bb", "example.bd", "example.be", "example.bf", "example.bg",
    "example.bh", "example.bi", "example.bj", "example.bl", "example.bm",
    "example.bn", "example.bo", "example.bq", "example.br", "example.bs",
    "example.bt", "example.bv", "example.bw", "example.by", "example.bz",
    "example.ca", "example.cc", "example.cd", "example.cf", "example.cg",
    "example.ch", "example.ci", "example.ck", "example.cl", "example.cm",
    "example.cn", "example.co", "example.cr", "example.cu", "example.cv",
    "example.cw", "example.cx", "example.cy", "example.cz", "example.de",
    "example.dj", "example.dk", "example.dm", "example.do", "example.dz",
    "example.ec", "example.ee", "example.eg", "example.eh", "example.er",
    "example.es", "example.et", "example.eu", "example.fi", "example.fj",
    "example.fk", "example.fm", "example.fo", "example.fr", "example.ga",
    "example.gb", "example.gd", "example.ge", "example.gf", "example.gg",
    "example.gh", "example.gi", "example.gl", "example.gm", "example.gn",
    "example.gp", "example.gq", "example.gr", "example.gs", "example.gt",
    "example.gu", "example.gw", "example.gy", "example.hk", "example.hm",
    "example.hn", "example.hr", "example.ht", "example.hu", "example.id",
    "example.ie", "example.il", "example.im", "example.in", "example.io",
    "example.iq", "example.ir", "example.is", "example.it", "example.je",
    "example.jm", "example.jo", "example.jp", "example.ke", "example.kg",
    "example.kh", "example.ki", "example.km", "example.kn", "example.kp",
    "example.kr", "example.kw", "example.ky", "example.kz", "example.la",
    "example.lb", "example.lc", "example.li", "example.lk", "example.lr",
    "example.ls", "example.lt", "example.lu", "example.lv", "example.ly",
    "example.ma", "example.mc", "example.md", "example.me", "example.mf",
    "example.mg", "example.mh", "example.mk", "example.ml", "example.mm",
    "example.mn", "example.mo", "example.mp", "example.mq", "example.mr",
    "example.ms", "example.mt", "example.mu", "example.mv", "example.mw",
    "example.mx", "example.my", "example.mz", "example.na", "example.nc",
    "example.ne", "example.nf", "example.ng", "example.ni", "example.nl",
    "example.no", "example.np", "example.nr", "example.nu", "example.nz",
    "example.om", "example.pa", "example.pe", "example.pf", "example.pg",
    "example.ph", "example.pk", "example.pl", "example.pm", "example.pn",
    "example.pr", "example.ps", "example.pt", "example.pw", "example.py",
    "example.qa", "example.re", "example.ro", "example.rs", "example.ru",
    "example.rw", "example.sa", "example.sb", "example.sc", "example.sd",
    "example.se", "example.sg", "example.sh", "example.si", "example.sj",
    "example.sk", "example.sl", "example.sm", "example.sn", "example.so",
    "example.sr", "example.ss", "example.st", "example.su", "example.sv",
    "example.sy", "example.sz", "example.tc", "example.td", "example.tf",
    "example.tg", "example.th", "example.tj", "example.tk", "example.tl",
    "example.tm", "example.tn", "example.to", "example.tr", "example.tt",
    "example.tv", "example.tw", "example.tz", "example.ua", "example.ug",
    "example.uk", "example.us", "example.uy", "example.uz", "example.va",
    "example.vc", "example.ve", "example.vg", "example.vi", "example.vn",
    "example.vu", "example.wf", "example.ws", "example.ye", "example.yt",
    "example.za", "example.zm", "example.zw", "example.academy", "example.accountant",
    "example.accountants", "example.actor", "example.adult", "example.aero",
    "example.agency", "example.airforce", "example.apartments", "example.army",
    "example.art", "example.associates", "example.attorney", "example.auction",
    "example.audio", "example.auto", "example.autos", "example.band",
    "example.bar", "example.bargains", "example.basketball", "example.beer",
    "example.best", "example.bet", "example.bike", "example.bingo",
    "example.bio", "example.black", "example.blackfriday", "example.blog",
    "example.blue", "example.boo", "example.boutique", "example.box",
    "example.builders", "example.business", "example.buzz", "example.cab",
    "example.cafe", "example.cam", "example.camera", "example.camp",
    "example.capital", "example.cards", "example.care", "example.career",
    "example.careers", "example.cars", "example.casa", "example.cash",
    "example.casino", "example.catering", "example.center", "example.ceo",
    "example.chat", "example.cheap", "example.church", "example.city",
    "example.claims", "example.cleaning", "example.click", "example.clinic",
    "example.clothing", "example.cloud", "example.club", "example.coach",
    "example.codes", "example.coffee", "example.college", "example.community",
    "example.company", "example.computer", "example.condos", "example.construction",
    "example.consulting", "example.contractors", "example.cooking", "example.cool",
    "example.coop", "example.country", "example.coupons", "example.credit",
    "example.creditcard", "example.cricket", "example.cruises", "example.dance",
    "example.date", "example.dating", "example.deals", "example.degree",
    "example.delivery", "example.democrat", "example.dental", "example.dentist",
    "example.desi", "example.design", "example.diamonds", "example.diet",
    "example.digital", "example.direct", "example.directory", "example.discount",
    "example.dog", "example.domains", "example.download", "example.earth",
    "example.education", "example.email", "example.energy", "example.engineer",
    "example.engineering", "example.enterprises", "example.equipment", "example.estate",
    "example.events", "example.exchange", "example.expert", "example.exposed",
    "example.express", "example.fail", "example.faith", "example.family",
    "example.fans", "example.farm", "example.fashion", "example.film",
    "example.finance", "example.financial", "example.fish", "example.fishing",
    "example.fitness", "example.flights", "example.florist", "example.flowers",
    "example.fund", "example.furniture", "example.futbol", "example.fyi",
    "example.gallery", "example.games", "example.garden", "example.gay",
    "example.gifts", "example.gives", "example.glass", "example.global",
    "example.gold", "example.golf", "example.graphics", "example.green",
    "example.gripe", "example.group", "example.guide", "example.guitars",
    "example.guru", "example.hair", "example.holiday", "example.homes",
    "example.horse", "example.host", "example.house", "example.immo",
    "example.immobilien", "example.industries", "example.info", "example.ink",
    "example.institute", "example.insure", "example.international", "example.investments",
    "example.jewelry", "example.jobs", "example.kaufen", "example.kim",
    "example.kitchen", "example.land", "example.lawyer", "example.lease",
    "example.legal", "example.lgbt", "example.life", "example.lighting",
    "example.limited", "example.limo", "example.link", "example.live",
    "example.loan", "example.loans", "example.love", "example.ltd",
    "example.luxury", "example.maison", "example.management", "example.market",
    "example.marketing", "example.mba", "example.media", "example.melbourne",
    "example.memorial", "example.men", "example.menu", "example.miami",
    "example.moda", "example.money", "example.mortgage", "example.movie",
    "example.navy", "example.network", "example.news", "example.ninja",
    "example.nyc", "example.okinawa", "example.one", "example.onl",
    "example.online", "example.ooo", "example.page", "example.paris",
    "example.partners", "example.parts", "example.party", "example.pet",
    "example.pharmacy", "example.photo", "example.photography", "example.photos",
    "example.pics", "example.pictures", "example.pink", "example.pizza",
    "example.place", "example.plumbing", "example.plus", "example.poker",
    "example.press", "example.productions", "example.properties", "example.pub",
    "example.racing", "example.realtor", "example.recipes", "example.red",
    "example.rehab", "example.reise", "example.reisen", "example.rent",
    "example.rentals", "example.repair", "example.report", "example.republican",
    "example.rest", "example.restaurant", "example.review", "example.reviews",
    "example.rip", "example.rocks", "example.rodeo", "example.run",
    "example.sale", "example.salon", "example.sarl", "example.school",
    "example.schule", "example.science", "example.services", "example.sexy",
    "example.shiksha", "example.shoes", "example.shop", "example.shopping",
    "example.show", "example.singles", "example.site", "example.ski",
    "example.soccer", "example.social", "example.software", "example.solar",
    "example.solutions", "example.space", "example.sport", "example.sports",
    "example.srl", "example.studio", "example.style", "example.sucks",
    "example.supplies", "example.supply", "example.support", "example.surf",
    "example.surgery", "example.systems", "example.tattoo", "example.tax",
    "example.taxi", "example.team", "example.tech", "example.technology",
    "example.tennis", "example.theater", "example.tickets", "example.tienda",
    "example.tips", "example.today", "example.tools", "example.tours",
    "example.town", "example.toys", "example.trade", "example.training",
    "example.travel", "example.university", "example.vacations", "example.vegas",
    "example.ventures", "example.vet", "example.viajes", "example.video",
    "example.villas", "example.vin", "example.vip", "example.vision",
    "example.vlaanderen", "example.vodka", "example.vote", "example.voting",
    "example.voto", "example.voyage", "example.wales", "example.watch",
    "example.webcam", "example.website", "example.wedding", "example.wine",
    "example.work", "example.works", "example.world", "example.wtf",
    "example.xyz", "example.yoga", "example.zone", "example.zuerich"
]

# Add '@' prefix to each domain

email_domains = ['@' + domain for domain in email_domains]

## Random Phone number

In [84]:
import random

phone_numbers = np.unique([('0' + str(random.randint(10**9, 10**10-1))) for i in range(10**5*3)])

cccd = np.unique([str(random.randint(10**12, 10**13-1)) for i in range(10**5*3)])

len(cccd)

300000

In [85]:
khach_hang = []
tai_khoan = []

for i in range(len(phone_numbers)):
    
    khach_hang.append({
        "MaKH": i+1,
        "Username": 'user' + str(i),
        "HoTen": random.choice(vietnamese_names),
        "Email": 'user' + str(i) + random.choice(email_domains),
        "SDT": phone_numbers[i],
        "CCCD": cccd[i],
        "GioiTinh": random.choice(['Male', 'Female']),
    })

    tai_khoan.append({
        "Username": 'user' + str(i),
        "Password": '123456',
        "isActive": random.choice([1, 0]),
    })

khach_hang = pd.DataFrame(khach_hang)

In [86]:
khach_hang.to_csv('KhachHang.csv', index=False)

In [87]:
khach_hang_values = []
for index, row in khach_hang.iterrows():
    value = f"({row['MaKH']}, N'{row['Username']}', N'{row['HoTen']}', N'{row['Email']}', '{row['SDT']}', '{row['CCCD']}', N'{row['GioiTinh']}')"
    khach_hang_values.append(value)

sql_command = f'''
DELETE FROM KhachHang \nGO \n
SET IDENTITY_INSERT KhachHang ON \n'''

for i in range(0, len(khach_hang_values), 1000):
    sql_command += f"INSERT INTO KhachHang (MaKH, Username, HoTen, Email, SDT, CCCD, GioiTinh) VALUES {','.join(khach_hang_values[i:i+1000])}; \n"

with open('Insert_KhachHang.sql', 'w') as f:
    f.write(sql_command)

# Bộ phận

In [13]:
BoPhan = [
    {
        "MaBP": 1,
        "TenBoPhan": "Quản lý",
        "Luong": 20000000,
    },
    {
        "MaBP": 2,
        "TenBoPhan": "Phục vụ",
        "Luong": 10000000,
    },
    {
        "MaBP": 3,
        "TenBoPhan": "Kế toán",
        "Luong": 15000000,
    },
    {
        "MaBP": 4,
        "TenBoPhan": "Bảo vệ",
        "Luong": 8000000,
    },
    {
        "MaBP": 5,
        "TenBoPhan": "Bếp",
        "Luong": 15000000,
    },
    {
        "MaBP": 6,
        "TenBoPhan": "Thu ngân",
        "Luong": 12000000,
    }
]
BoPhan = pd.DataFrame(BoPhan)

In [14]:
BoPhan.to_csv('BoPhan.csv', index=False)

In [13]:
BoPhan_values = []
for index, row in BoPhan.iterrows():
    value = f"({row['MaBP']}, N'{row['TenBoPhan']}', {row['Luong']})"
    BoPhan_values.append(value)

sql_command = f'''
DELETE FROM BoPhan \nGO \n
SET IDENTITY_INSERT BoPhan ON \n '''

for i in range(0, len(BoPhan_values), 1000):
    sql_command += f"INSERT INTO BoPhan (MaBP, TenBoPhan, Luong) VALUES {','.join(BoPhan_values[i:i+1000])}; \n"

with open('Insert_BoPhan.sql', 'w') as f:
    f.write(sql_command)

# Nhân viên

In [88]:
from datetime import datetime, timedelta

ChiNhanh = pd.read_csv('ChiNhanh.csv')
employees = []
countNV = 0

birthDay = {
    "start": datetime.strptime('1/1/1980', "%d/%m/%Y"),
    "end": datetime.strptime('1/1/2006', "%d/%m/%Y")
}

workingDate = {
    "start": datetime.strptime('1/1/2010', "%d/%m/%Y"),
    "end": datetime.strptime('31/10/2024', "%d/%m/%Y")
}

def randomDate(scope):
    start = scope["start"]
    end = scope["end"]
    delta = end - start
    int_delta = delta.days
    random_day = random.randint(0, int_delta)
    return (start + timedelta(days=random_day)).date().strftime("%d-%m-%Y")

def createADateLaterThan(date):
    return (date + timedelta(days=random.randint(1, 365))).date().strftime("%d-%m-%Y")

# Tạo các nhân viên đang làm việc hiện tại

def createNV(MaNV, HoTen, NgaySinh, NgayVaoLam, NgayNghiViec=False, Username='employee' + str(countNV), MaBP=random.choice(BoPhan['MaBP'])):
    if NgayNghiViec != False:
        employees.append({
            "MaNV": MaNV,
            "HoTen": HoTen,
            "NgaySinh": NgaySinh,
            "NgayVaoLam": NgayVaoLam,
            "NgayNghiViec": NgayNghiViec,
            "Username": Username,
            "MaBP": MaBP,
        })
        
        tai_khoan.append({
            "Username": Username,
            "Password": '123456',
            "isActive": 0
        })
        
    else:
        employees.append({
            "MaNV": MaNV,
            "HoTen": HoTen,
            "NgaySinh": NgaySinh,
            "NgayVaoLam": NgayVaoLam,
            "Username": Username,
            "MaBP": MaBP,
        })
    
        tai_khoan.append({
            "Username": Username,
            "Password": '123456',
            "isActive": 1
        })


# Nhân viên đã nghỉ việc
for i in range(5000):
    countNV+=1
    random_date = randomDate(workingDate)
    createNV(countNV, random.choice(vietnamese_names), \
    randomDate(birthDay), \
    random_date, \
    createADateLaterThan(datetime.strptime(random_date, "%d-%m-%Y")), \
    'employee' + str(countNV), random.choice(range(1, 7, 1)))
    
# Nhân viên đang làm việc (240)
for i in range(len(ChiNhanh)):
    # Quản lý
    countNV+=1
    createNV(countNV, random.choice(vietnamese_names), \
    datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(1980, 2006)), "%d/%m/%Y").strftime("%Y-%m-%d"), \
    datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(2010, 2024)), "%d/%m/%Y").strftime("%Y-%m-%d"), \
    'employee' + str(countNV), 1)
    
    # Phục vụ
    for _ in range(5):
        countNV+=1
        createNV(countNV, random.choice(vietnamese_names), \
        datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(1980, 2006)), "%d/%m/%Y").strftime("%Y-%m-%d"), \
        datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(2010, 2024)), "%d/%m/%Y").strftime("%Y-%m-%d"), \
        'employee' + str(countNV), 2)
    
    # Kế toán
    countNV+=1
    createNV(countNV, random.choice(vietnamese_names), \
    datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(1980, 2006)), "%d/%m/%Y").strftime("%Y-%m-%d"), \
    datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(2010, 2024)), "%d/%m/%Y").strftime("%Y-%m-%d"), \
    'employee' + str(countNV), 3)
    
    # Bảo vệ
    for _ in range(2):
        countNV+=1
        createNV(countNV, random.choice(vietnamese_names), \
        datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(1980, 2006)), "%d/%m/%Y").strftime("%Y-%m-%d"), \
        datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(2010, 2024)), "%d/%m/%Y").strftime("%Y-%m-%d"), \
        'employee' + str(countNV), 4)
        
    # Bếp
    for _ in range(5):
        countNV+=1
        createNV(countNV, random.choice(vietnamese_names), \
        datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(1980, 2006)), "%d/%m/%Y").strftime("%Y-%m-%d"), \
        datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(2010, 2024)), "%d/%m/%Y").strftime("%Y-%m-%d"), \
        'employee' + str(countNV), 5)
        
    # Thu ngân
    for _ in range(2):
        countNV+=1
        createNV(countNV, random.choice(vietnamese_names), \
        datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(1980, 2006)), "%d/%m/%Y").strftime("%Y-%m-%d"), \
        datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(2010, 2024)), "%d/%m/%Y").strftime("%Y-%m-%d"), \
        'employee' + str(countNV), 6)

In [89]:
employees = pd.DataFrame(employees)

employees.to_csv('NhanVien.csv', index=False)

tai_khoan = pd.DataFrame(tai_khoan)

tai_khoan.to_csv('TaiKhoan.csv', index=False)

In [90]:
nhanvien_values = []
for index, row in employees.iterrows():
    value = f"({row['MaNV']}, N'{row['HoTen']}', '{row['NgaySinh']}', '{row['NgayVaoLam']}', '{row['Username']}', {row['MaBP']})" 
    nhanvien_values.append(value)
    
sql_command = f'''
DELETE FROM NhanVien \nGO \n
SET IDENTITY_INSERT NhanVien ON \n'''

for i in range(0, len(nhanvien_values), 1000):
    sql_command += f"INSERT INTO NhanVien (MaNV, HoTen, NgaySinh, NgayVaoLam, Username, MaBP) VALUES \n {',\n'.join(nhanvien_values[i:i+1000])};"
    
with open('Insert_NhanVien.sql', 'w') as f:
    f.write(sql_command)

# Tài Khoản (nhân viên + khách hàng)

In [91]:
tai_khoan = pd.DataFrame(tai_khoan)
tai_khoan_values = []
for index, row in tai_khoan.iterrows():
    value = f"(N'{row['Username']}', N'{'123456'}', {row['isActive']})"
    tai_khoan_values.append(value)

sql_command = f'''
DELETE FROM TaiKhoan \nGO \n
SET IDENTITY_INSERT TaiKhoan ON \n '''

for i in range(0, len(tai_khoan_values), 1000):
    sql_command += f"INSERT INTO TaiKhoan (Username, Password, isActive) VALUES \n {',\n'.join(tai_khoan_values[i:i+1000])}; \n"

with open('Insert_TaiKhoan.sql', 'w') as f:
    f.write(sql_command)

# Thẻ khách hàng

In [91]:
khach_hang = pd.read_csv('KhachHang.csv')
mathe = []

for i in range(len(khach_hang)*2):
    mathe.append("KH"+"".join([random.choice(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']) for _ in range(6)]))
    
mathe = pd.DataFrame(mathe, columns=['MaThe'], dtype='str')
mathe.drop_duplicates(inplace=True)

mathe['MaThe'] = mathe['MaThe'].replace('x', '')

mathe.to_csv('MaThe.csv', index=False)

In [97]:
from datetime import datetime, timedelta

ChiNhanh = pd.read_csv('ChiNhanh.csv')
employees = []
countNV = 0

birthDay = {
    "start": datetime.strptime('1/1/1980', "%d/%m/%Y"),
    "end": datetime.strptime('1/1/2006', "%d/%m/%Y")
}

workingDate = {
    "start": datetime.strptime('1/1/2010', "%d/%m/%Y"),
    "end": datetime.strptime('31/10/2024', "%d/%m/%Y")
}

def randomDate(scope):
    start = scope["start"]
    end = scope["end"]
    delta = end - start
    int_delta = delta.days
    random_day = random.randint(0, int_delta)
    return (start + timedelta(days=random_day)).date().strftime("%d-%m-%Y")

def createADateLaterThan(date):
    return (date + timedelta(days=random.randint(1, 365))).date().strftime("%d-%m-%Y")

In [98]:
#! NHỚ CHẠY LẠI ĐOẠN NÀY
mathe = pd.read_csv("MaThe.csv")   
the_thanh_vien = []

employees = pd.read_csv('NhanVien.csv')

for i in range(len(mathe)):
    random_hangmuc = random.choice([{"LoaiThe": "Normal", "Discount": 5}, {"LoaiThe": "Silver", "Discount": 10}, {"LoaiThe": "Gold", "Discount": 15}])
    random_date = randomDate(workingDate)
    valid_employees = employees[employees['NgayNghiViec'] > random_date]
    valid_employee = random.choice(list(valid_employees['MaNV']))
    the_thanh_vien.append({
        "MaThe": str(random.choice(mathe['MaThe'])),
        "NgayLap": random_date,
        "LoaiThe": random_hangmuc['LoaiThe'],
        "Discount": random_hangmuc['Discount'],
        "MaNV": valid_employee,
        "isActive": random.choice([1, 0]),
        "MaKH": i+1,
    })

In [99]:
the_thanh_vien = pd.DataFrame(the_thanh_vien)
the_thanh_vien.to_csv('TheThanhVien.csv', index=False)

In [127]:
sql_command = f'''
DELETE FROM TheThanhVien \nGO \n
SET IDENTITY_INSERT TheThanhVien ON \n '''

the_thanh_vien_values = []
for index, row in the_thanh_vien.iterrows():
    value = f"({row['MaThe']}, '{row['NgayLap']}', N'{row['LoaiThe']}', {row['MaNV']}, {row['isActive']}, {row['MaKH']})"
    the_thanh_vien_values.append(value)

for i in range(0, len(the_thanh_vien_values), 1000):
    sql_command += f"INSERT INTO TheThanhVien (MaThe, NgayLap, LoaiThe, MaNV, isActive, MaKH) VALUES \n {', \n'.join(the_thanh_vien_values[i:i+1000])}; \n"

with open('Insert_TheThanhVien.sql', 'w') as f:
    f.write(sql_command)

In [ ]:
the_thanh_vien = pd.read_csv('TheThanhVien.csv')

the_thanh_vien[the_thanh_vien['MaThe']]

# Món ăn

In [ ]:
mon_an = pd.DataFrame(json.load(open('sushiworld.json')))

,id,name,category,price,image
0,sashimi1,AKAGAI SASHIMI,Sashimi,179000,https://sushiworld.com.vn/wp-content/uploads/2...
1,sushi2,AKAGAI SUSHI,Sushi,89000,https://sushiworld.com.vn/wp-content/uploads/2...
2,yakimono3,AYU SHIO YAKI,Yakimono,129000,https://sushiworld.com.vn/wp-content/uploads/2...
3,salad4,BEEF SALAD,Salad,149000,https://sushiworld.com.vn/wp-content/uploads/2...
4,setlunch5,BEEF STEAK SET,Set lunch,209000,https://sushiworld.com.vn/wp-content/uploads/2...
...,...,...,...,...,...
169,setlunch170,UNAJYU SET,Set lunch,369000,https://sushiworld.com.vn/wp-content/uploads/2...
170,sashimi171,UNI SASHIMI,Sashimi,229000,https://sushiworld.com.vn/wp-content/uploads/2...
171,sushi172,UNI SUSHI,Sushi,139000,https://sushiworld.com.vn/wp-content/uploads/2...
172,sushicake173,VEGETARIAN MUSHROOMS & AVOCADO CAKE,Sushi Cake,199000,https://sushiworld.com.vn/wp-content/uploads/2...
173,tempura174,YASAI TEMPURA,Tempura,119000,https://sushiworld.com.vn/wp-content/uploads/2...

In [107]:
mon_an_values = []

for index, row in mon_an.iterrows():
    value = f"(\"{row['id']}\", \"{row['name']}\", \"{row['category']}\", {row['price']}, \"{row['image']}\")"
    mon_an_values.append(value)
    
sql_command = f'''
DELETE FROM MonAn \nGO \n
SET IDENTITY_INSERT MonAn ON \n

INSERT INTO MonAn (MaMon, TenMon, MaLoai, Gia, HinhAnh) VALUES \n {', \n'.join(mon_an_values)}; \n'''

with open('Insert_MonAn.sql', 'w') as f:
    f.write(sql_command)

In [101]:
len('https://sushiworld.com.vn/wp-content/uploads/2022/06/Artboard-19-copy-31@4x-100-300x300.jpg')

91

# Thực đơn

In [109]:
sql_command = f'''
DELETE FROM THUCDON \nGO \n
SET IDENTITY_INSERT THUCDON ON \n
INSERT INTO THUCDON (MaTD, MaCN) VALUES \n
{', \n'.join([f"({i}, {i})" for i in range(len(ChiNhanh))])}; \n
'''

with open('Insert_ThucDon.sql', 'w') as f:
    f.write(sql_command)

# Phục vụ món theo chi nhánh

In [124]:
mon_an = pd.DataFrame(json.load(open('sushiworld.json')))

for i in range(len(mon_an)):
    mon_an.at[i, 'id'] = i+1
    
mon_an.to_csv('MonAn.csv', index=False)

In [140]:
mamon = [1, 2, 3, 4]

mon_an = pd.read_csv('MonAn.csv')

all_served = mon_an[~mon_an['id'].isin(mamon)]


phucvu = []

for i in range(15):
    phucvu.append({
        "MaTD": i,
        "MaMon": random.choice(mamon),
        "isServed": random.randint(0, 1),
    })

for j in range(len(all_served)):
    for i in range(15):
        phucvu.append({
        "MaTD": i,
        "MaMon": j+5,
        "isServed": 1,
        })
        
phucvu = pd.DataFrame(phucvu)
phucvu.to_csv('PhucVu.csv', index=False)

phucvu_values = []

for index, row in phucvu.iterrows():
    value = f"({row['MaTD']}, {row['MaMon']}, {row['isServed']})"
    phucvu_values.append(value)
    
sql_command = f'''
DELETE FROM PhucVu \nGO \n
SET IDENTITY_INSERT PhucVu ON \n
INSERT INTO PhucVu (MaTD, MaMon, isServed) VALUES \n
{', \n'.join(phucvu_values)}; \n
'''

with open('Insert_PhucVu.sql', 'w') as f:
    f.write(sql_command)

In [136]:
all_served

,id,name,category,price,image
4,5,BEEF STEAK SET,Set lunch,209000.0,https://sushiworld.com.vn/wp-content/uploads/2...
5,6,BURI KAMA SHIO YAKI,Yakimono,269000.0,https://sushiworld.com.vn/wp-content/uploads/2...
6,7,CALIFORNIA MAKI,Maki,119000.0,https://sushiworld.com.vn/wp-content/uploads/2...
7,8,CHIRASHI DON SET,Set lunch,169000.0,https://sushiworld.com.vn/wp-content/uploads/2...
8,9,CHUBUNE SASHIMI,Sashimi,1000.0,https://sushiworld.com.vn/wp-content/uploads/2...
...,...,...,...,...,...
169,170,UNAJYU SET,Set lunch,369000.0,https://sushiworld.com.vn/wp-content/uploads/2...
170,171,UNI SASHIMI,Sashimi,229000.0,https://sushiworld.com.vn/wp-content/uploads/2...
171,172,UNI SUSHI,Sushi,139000.0,https://sushiworld.com.vn/wp-content/uploads/2...
172,173,VEGETARIAN MUSHROOMS & AVOCADO CAKE,Sushi Cake,199000.0,https://sushiworld.com.vn/wp-content/uploads/2...
173,174,YASAI TEMPURA,Tempura,119000.0,https://sushiworld.com.vn/wp-content/uploads/2...

# Phiếu Đặt Món

#### Điều kiện đặt món:
- Trong giờ phục vụ
- Món ăn tại chi nhánh đó phải được phục vụ
- Nhân viên đặt món phải còn đang làm tại thời điểm đặt món (ngày nghỉ làm sau ngày đặt món)
-

In [ ]:
NhanVien = pd.read_csv('NhanVien.csv')
khach_hang = pd.read_csv('KhachHang.csv')

# Hoá đơn

In [ ]:
hoa_don = []

for i in range(10**8):
    hoa_don.append({
        "MaHD": i+1,
        "NgayLap": datetime.strptime(str(random.randint(1, 28)) + '/' + str(random.randint(1, 12)) + '/' + str(random.randint(2010, 2024)), "%d/%m/%Y").strftime("%Y-%m-%d"),
        "TongTien": random.choice(range(100000, 1000000)),
        "MaNV": random.choice(df_employee['MaNV']),
        "MaKH": random.choice(khach_hang['MaKH']),
    })