In [4]:
import pandas as pd
import numpy as np

PHIEUDATMON= pd.read_csv('PHIEUDATMON.csv')

phieu_dat_mon_values = []

for index, row in PHIEUDATMON.iterrows():
    phieu_dat_mon_values.append(f'''({row['MaPhieu']}, '{row['NgayLap']}', {row['MaBan']}, {row['TongTien']}, {row['MaNV']}, {row['MaHD']})''')
    
sql_command = f''''''

chunks = [phieu_dat_mon_values[i:i + 1000] for i in range(0, len(phieu_dat_mon_values), 1000)]

sql_command = ''''''
for chunk in chunks:
    sql_command += 'INSERT INTO PHIEUDATMON (MaPhieu, NgayLap, MaBan, TongTien, MaNV, MaHD) VALUES\n'
    sql_command += ',\n'.join(chunk)
    sql_command += ';\n'
    sql_command += '\nGO\n'

with open('../src/backend/database/Insert_PhieuDatMon.sql', 'w') as file:
    file.write(sql_command)

In [10]:
HOADON = pd.read_csv('HOADON.csv')
HOADON["MACN"] = PHIEUDATMON["MaCN"]
HOADON['MaThe'] = HOADON['MaThe'].astype(str).str.zfill(6)

In [12]:
HOADON.columns

Index(['MaHD', 'GiamGia', 'MaThe', 'NgayLap', 'TongHoaDon', 'isEatIn', 'MACN'], dtype='object')

In [13]:

hoadon_values = []

for index, row in HOADON.iterrows():
    hoadon_values.append(f'''({row['MaHD']}, '{row['NgayLap']}', {row['GiamGia']}, '{row['MaThe']}', {row['TongHoaDon']}, {row['MACN']}, {row['isEatIn']})''')

chunks = [hoadon_values[i:i + 1000] for i in range(0, len(hoadon_values), 1000)]

sql_command = ''''''
for chunk in chunks:
    sql_command += 'INSERT INTO HOADON (MaHD, NgayLap, GiamGia, MaThe, TongHoaDon, MaCN, isEatIn) VALUES\n'
    sql_command += ',\n'.join(chunk)
    sql_command += ';\n'
    sql_command += '\nGO\n'
    
with open('../src/backend/database/Insert_HoaDon.sql', 'w') as file:
    file.write(sql_command)